
header {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: rgb(241, 201, 247);
    border-radius: 40px;
    position: fixed;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

img {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 30px;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
}
.secciones {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
}

li {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;  
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: grey;
    text-decoration-line: underline;
}